annotated-types==0.7.0
asgiref==3.9.2
debugpy==1.8.17
django==5.2.7
django-htmx==1.26.0
django-ninja==1.4.3
iniconfig==2.1.0
packaging==25.0
pluggy==1.6.0
psycopg2-binary==2.9.10
pydantic==2.11.10
pydantic-core==2.33.2
pygments==2.19.2
pytest==8.4.2
pytest-django==4.11.1
pytest-dotenv==0.5.2
python-dotenv==1.1.1
ruff==0.13.2
sqlparse==0.5.3
typing-extensions==4.15.0
typing-inspection==0.4.2
